In [1]:
import os
import pymongo
import pandas as pd
from dotenv import load_dotenv

load_dotenv()

MONGO_DB_USER = os.environ["MONGO_DB_USER"]
MONGO_DB_PASSWORD = os.environ["MONGO_DB_PASSWORD"]
MONGO_DB_HOST = os.environ["MONGO_DB_HOST"]
MONGO_DB_PORT = os.environ["MONGO_DB_PORT"]

client = pymongo.MongoClient(
    f"mongodb://{MONGO_DB_USER}:{MONGO_DB_PASSWORD}@{MONGO_DB_HOST}:{MONGO_DB_PORT}/"
)

silver_db = client.silver
silver_events = silver_db.events
silver_games = silver_db.games

In [2]:
# Find out how many times each player won

c = silver_events.aggregate(
    [
        {"$project": {"max": {"$objectToArray": {"$max": "$results"}}}},
        {"$project": {"results": {"$arrayElemAt": ["$max.k", 0]}}},
    ]
)

winners = {}

for i in c:
    winners.setdefault(i["results"], 0)
    winners[i["results"]] += 1

winners

{'VovAn1991': 1,
 'Hafez_Bakr': 1,
 'Philofive': 1,
 'silverback96': 1,
 'GulamaliRises': 1,
 'Dlugy': 3,
 'MITerryble': 2,
 'MattyDPerrine': 1,
 'Canonkasparov': 1,
 'Yaacovn': 2,
 'AlexanderL': 2,
 'kpio91': 1,
 'Tal-Baronfew': 1,
 'spectralsoul': 1,
 'SerGo055': 1,
 'Gergo85': 1,
 'GrigorGrigorov': 2,
 'yurisolo': 1,
 'Hikaru': 4,
 'stefanodinn': 1,
 'Quiet_Desperation': 1,
 'ZEN-22': 1,
 'GM_Huschenbeth': 1,
 'Paralinch': 1,
 'Boryboy': 1,
 'vovkcoach': 1,
 'jlandaw': 1,
 'jcibarra': 2,
 'Newlight1': 1,
 'Tonychess32': 1,
 'BCNUM8': 1,
 'Journey_to_GrandMaster_YT': 1,
 'lionheart95': 1,
 'psv98': 1,
 'VMikhalevski': 1,
 'NTBT_DHS': 1,
 'KuzubovYuriy': 1,
 'JohanSalomon': 1,
 'CemilCan': 1,
 'Kouzari': 1,
 'severomorskij': 1,
 'LyonBeast': 1,
 'chito89': 1,
 'biveklama': 1,
 'rst2003': 1,
 'fastestmindalive': 1,
 'wnstop': 1,
 'RitvarsReimanis': 1,
 'GianmarcoVaR': 1,
 'GMMarcinDziuba': 1,
 'grzechu96': 1,
 'champ2005': 2,
 'Vojtastr': 1,
 'Aygehovit1992': 1,
 'Markov_Mikhail': 1,
 'murmah2003': 2,
 'BIG_Pirate': 1,
 'bascheyaro': 1,
 'GMNeiksans': 1,
 'jacky72': 1,
 'Supernotar': 1,
 'Winehouse83': 1,
 'TastyFrenchFries': 1,
 'burbur555': 1,
 'iaraldinho': 1,
 'IamSchrodingersCat': 1,
 'StanislavNovikov': 1,
 'mbojan': 1,
 'elm2007': 1,
 'ChainsOfFantasia': 1,
 'Msb2': 1,
 'PIwan': 1,
 'Ar4uha': 1,
 'Shield12': 1,
 'matiss90': 1,
 'AminMolaei': 1,
 'jlucasvf': 1,
 'Mikhail_Golubev': 2,
 'IMRosen': 1,
 'MFBerna': 1,
 'gena217': 1,
 'Frogo47': 1,
 'Maghalashvili': 2,
 'yarosavich': 2,
 'kleinebeer98': 1,
 'Sanyura': 1,
 'Kapibara_Warri0r': 1,
 'LuckSlayeer': 1,
 'QuintilianoR': 1,
 'chessplayer9919': 1,
 'dopolian': 1,
 'PattyCastillo': 1,
 'TamirNabaty': 1,
 'Onischuk_V': 1,
 'Bayernbk': 1,
 'Fh2411': 1,
 'volcanoexplorer': 1,
 'RobPeresian': 1,
 'TudorAnton': 1,
 'SilviusTiberius': 1,
 'Shota_Azaladze': 1,
 'zaur-mammadov': 1,
 'Elshan1985': 1,
 'Gabrielian_Artur': 1,
 'Rytenko_V': 1,
 'Caterpiller35': 1,
 'AIROPITO7': 1,
 'Papa12341234': 1,
 'Rodalquilar': 1,
 'dcremisi': 1,
 'KononenkoD': 1,
 'lucasmito': 1,
 'vinniethepooh': 1,
 'Zhigalko_Sergei': 1,
 'Stronger1799': 1,
 'GMBenjaminBok': 1,
 'Chess_Boxer123': 1,
 'GoltsevDmitry2000': 2,
 'Beca95': 1,
 'googlegoom': 1,
 'chessdjw': 1,
 'gross-aleks': 1,
 'OK97': 1,
 'akanga001': 1,
 'esapunov': 1,
 'AttackSparrow': 1,
 'Beltraxtor': 1,
 'nikitakhoroshev': 1,
 'TeukkaSalama': 1,
 'ailime26': 1,
 'Airquake': 1,
 'RiskyDecision': 1,
 'Nitin, S.': 1,
 'Acor, Corey': 2,
 'Abdrlauf, Elham': 18,
 'Abdusattorov, Nodirbek': 7,
 'De Silva, L M S T': 1,
 '731291': 1,
 'Sardana, Rishi': 1,
 'Arabidze, Meri': 1,
 'Ahmadzada, Ahmad': 2,
 'Alavi, Sayed Javad': 1,
 'Mamedov, Rauf': 1,
 'Agibileg, Uurtsaikh': 1,
 'Sadhwani, Raunak': 1,
 'Abdurakhmonov, Mukhammadali': 1,
 'Andreikin, Dmitry': 6,
 'Baches Garcia, Guillermo': 1,
 'Nguyen, Ngoc Truong Son': 1,
 'Abarca Gonzalez, Nicolas': 5,
 'Babiy, Olga': 1,
 'Adly, Ahmed': 1,
 'Dobrov, Vladimir': 1,
 'Perez Ponsa, Federico': 1,
 'Albornoz Cabrera, Carlos Daniel': 1,
 'Remizov, Yaroslav': 1,
 'Rustemov, Alexander': 1,
 'Costachi, Mihnea': 1,
 'Safarli, Eltaj': 1,
 'Dubov, Daniil': 2,
 'Demchenko, Anton': 1,
 'Bortnyk, Olexandr': 2,
 'Mekhitarian, Krikor Sevag': 1,
 'Nakamura, Hikaru': 38,
 'Pranav Anand': 1,
 'Meduri, Aakaash': 1,
 'Martinez Alcantara, Jose Eduardo': 1,
 'Aaditya Dhingra': 5,
 'Adewumi, Tanitoluwa': 5,
 'Cagara, Paulina': 1,
 'Timofeev, Artyom': 1,
 'Oparin, Grigoriy': 1,
 'Fedoseev, Vladimir': 1,
 'Sarana, Alexey': 2,
 'Alekseenko, Kirill': 2,
 'Agasarov, Benik': 3,
 'Keymer, Vincent': 1,
 'Aitbayev, Aslan': 1,
 'Przybylski, Wojciech': 1,
 'Gaisinsky, Adam': 1,
 'Jia, Haoxiang': 1,
 'Yoo, Christopher Woojin': 1,
 'Ahn, Hongjin': 1,
 'Drygalov, Andrey': 1,
 'Amburgy, Ryan': 1,
 'Bellissimo, Joseph F.': 1,
 'Babazada, Khazar': 1,
 'Zhigalko, Sergei': 1,
 'Pranav, V': 1,
 'Eljanov, Pavel': 1,
 'Svane, Rasmus': 1,
 'Bacrot, Etienne': 1,
 'Aarav Dengla': 1,
 'Predke, Alexandr': 1,
 'Sabar, Ethmane Daouda': 1,
 'Abdyzhapar, Asylbek': 1,
 'Sjugirov, Sanan': 1,
 'Adury, Anant': 1,
 'Tari, Aryan': 1,
 'Jimenez Almeida, Luis David': 1,
 'Abrahamyan, Tatev': 1,
 'Abasov, Nijat': 3,
 'Adla, Diego': 2,
 'Novik, Maxim': 1,
 'Abdilkhair, Abilmansur': 1,
 'Muhammed , Zahid': 1,
 'Carlsen, Magnus': 26,
 'So, Wesley': 3,
 'Domingo Nunez, Ruben': 1,
 'Naroditsky, Daniel': 6,
 'Mustafayev, Farid': 1,
 'Nihal Sarin': 5,
 'Benedetti, Julio': 1,
 'snowlord': 1,
 'Eternauta2400': 1,
 'biostatistician': 1,
 'Athanasios2': 1,
 'vi_pranav': 1,
 'djokovic74': 1,
 'tgpgoat': 1,
 'Dacean99': 1,
 'JG-17': 1,
 'K_A_S_T_O_R': 1,
 'Denis_Makhnyov': 1,
 'Alex_Sahakyan2006': 1,
 'ValeriyGrinev': 1,
 'whiteglovethief': 1,
 'Orest_Vovk': 1,
 'MokshAD1603': 1,
 'WelshTiger': 1,
 'Mikasinski': 1,
 'Aronian, Levon': 1,
 'NelsonLinda': 1,
 'NoHeThTo': 1,
 'Pinero Rodriguez, Carlos Jose': 1,
 'aistrel': 1,
 'Siniauski': 1,
 'ukchessbomber': 1,
 'Crazy_girl99': 1,
 'js20000': 2,
 'Kacparov': 1,
 'SchmakAttack': 1,
 '2346PL': 1,
 'Bykov_Egor': 1,
 'albi1999': 1,
 'ckgchess': 1,
 'Bryanl106': 1,
 'Roman_Ovetchkin': 1,
 'MarcoRiehle': 1,
 'Shushik': 1,
 'soloderisas': 1,
 'volodja49': 1,
 'Lion-Al-Messi': 1,
 'DryCounty': 1}

In [3]:
sorted(winners.items(), key=lambda x: x[1])[-2:]

[('Carlsen, Magnus', 26), ('Nakamura, Hikaru', 38)]

In [4]:
upsets = (
    silver_games.find({"WhiteElo": {"$gt": 1000}, "BlackElo": {"$gt": 1000}})
    .limit(10)
    .sort({"Upset": 1})
)

pd.DataFrame(upsets)[["Event", "Upset", "White", "WhiteElo", "Black", "BlackElo"]]

,Event,Upset,White,WhiteElo,Black,BlackElo
0,Titled Tuesday Blitz December 20 Early 2022,-1619.0,Susal_De_Silva,2808.0,"Kazgildy, Fariza",1189.0
1,Titled Tuesday Blitz October 18 Late 2022,-1546.0,"Eisa Mohmood, Alkhoori",1245.0,"Bordi, Kevin",2791.0
2,Titled Tuesday Blitz December 20 Early 2022,-1536.0,Kopylov_Alex,2790.0,"Mone, Ved",1254.0
3,Titled Tuesday Blitz December 20 Early 2022,-1463.0,The_Machine04,2652.0,"Kazgildy, Fariza",1189.0
4,Titled Tuesday Blitz April 26 Early 2022,-1414.0,"Bashirli, Saadat",1173.0,"Bachmann, Axel",2587.0
5,Titled Tuesday Blitz December 20 Early 2022,-1393.0,"Benamar, Benious",1136.0,lemayvega,2529.0
6,Titled Tuesday Blitz December 20 Early 2022,-1350.0,CDOEspiao,2486.0,"Benamar, Benious",1136.0
7,*** Titled Tuesday Blitz,-1328.0,Markov_Mikhail,2665.0,xpto15,1337.0
8,Titled Tuesday Blitz December 20 Early 2022,-1328.0,"Castro Andrade, Seirbert Cristian",1364.0,"Xiong, Jeffery",2692.0
9,Titled Tuesday Blitz December 20 Early 2022,-1311.0,"Yildiz, Ayse Emek",1702.0,OparinGrigoriy,3013.0

In [5]:
upsets = (
    silver_games.find(
        {
            "White": {"$in": ["Carlsen, Magnus"]},
            "WhiteElo": {"$gt": 1000},
            "BlackElo": {"$gt": 1000},
        }
    )
    .limit(3)
    .sort({"Upset": 1})
)

pd.DataFrame(upsets)[["Event", "Upset", "White", "WhiteElo", "Black", "BlackElo"]]

,Event,Upset,White,WhiteElo,Black,BlackElo
0,Titled Tuesday Blitz March 21 Early 2023,-475.0,"Carlsen, Magnus",2852.0,"Tillyaev, Ulugbek",2377.0
1,Titled Tuesday Blitz May 9 Late 2023,-391.0,"Carlsen, Magnus",2852.0,"Makarian, Rudik",2461.0
2,Titled Tuesday Blitz July 25 Late 2023,-355.0,"Carlsen, Magnus",3256.0,"Dardha, Daniel",2901.0

In [6]:
upsets = (
    silver_games.find(
        {
            "White": {"$in": ["Nakamura, Hikaru"]},
            "WhiteElo": {"$gt": 1000},
            "BlackElo": {"$gt": 1000},
        }
    )
    .limit(3)
    .sort({"Upset": 1})
)

pd.DataFrame(upsets)[["Event", "Upset", "White", "WhiteElo", "Black", "BlackElo"]]

,Event,Upset,White,WhiteElo,Black,BlackElo
0,Titled Tuesday Blitz August 15 Early 2023,-1180.0,"Nakamura, Hikaru",3255.0,"Nugumanov, Bakhtiyar",2075.0
1,Titled Tuesday Blitz May 10 Early 2022,-1054.0,"Nakamura, Hikaru",2850.0,"Aslanov, Umid",1796.0
2,Titled Tuesday Blitz June 6 Late 2023,-759.0,"Nakamura, Hikaru",2874.0,"Hajiyev, Kanan",2115.0